body {
  background-attachment: fixed;
  background-color: #FAD7DE;
  background-image: -moz-linear-gradient(top, #FAD7DE, #FFFFFF); /* Firefox */
  background-image: -webkit-linear-gradient(top, #FAD7DE, #FFFFFF);
  background-image: linear-gradient(to bottom, #FAD7DE; #FFFFFF);
  margin: auto;
  width: auto;
  height: 100%

a {
  border-bottom: 1px dashed Red;
  color: #121111;
  text-decoration: none;
}

p {
  margin-bottom: 10px;
}

.intro {
  font-family: Helvetica, sans-serif;
  font-style: italic;
  font-size: 13px;
  color: #121111;
  margin: auto;
  position: absolute; bottom: 5px; right: 5px;
}
   
.item {
  font-style: italic;
  font-family: Lucida Grande, sans-serif;
  margin: auto;
  text-align: center;
  margin-top: 5px;
} 
    
.days {
  font-family: Times New Roman;
  font-size: 62px;
  width: auto;
  text-align: center;
  margin: 70px auto;
}

.days-label {
  font-size: 54px;
}

.seconds {
  font-size: 27px;
}